# Instance a l'arret : le collecteur publie une fiche pour distinguer
# "arretee" de "jamais collectee". Sans enregistrement FEAT, aucune
# conclusion de conformite ne peut etre tiree.
KV|collect.version|1.0.0
KV|collect.epoch|@EPOCH@
KV|collect.date|@DATE@
KV|inst.sid|DOWNDB
KV|inst.oracle_home|/u01/app/oracle/product/12.2.0/dbhome_1
KV|inst.running|0
KV|host.name|srvora09.example.lan
KV|host.cpu.sockets|4
KV|host.cpu.cores|128
KV|host.cpu.reliable|1
KV|host.core_factor|0.5
KV|host.processor_licenses|64
KV|host.virt|vmware
KV|collect.status|instance_down
