# oracle-licensing cache v1 -- NE PAS EDITER
KV|collect.version|1.0.0
KV|collect.epoch|@EPOCH@
KV|collect.date|@DATE@
KV|inst.sid|ORCL
KV|inst.oracle_home|/u01/app/oracle/product/19.0.0/dbhome_1
KV|inst.running|1
KV|host.name|srvora01.example.lan
KV|host.arch|x86_64
KV|host.cpu.model|Intel(R) Xeon(R) Gold 6338 CPU @ 2.00GHz
KV|host.cpu.sockets|2
KV|host.cpu.cores|64
KV|host.cpu.threads|128
KV|host.cpu.reliable|1
KV|host.virt|none
KV|host.core_factor|0.5
KV|host.processor_licenses|32
KV|db.name|ORCL
KV|db.unique_name|ORCL
KV|db.dbid|1573948201
KV|db.role|PRIMARY
KV|db.open_mode|READ WRITE
KV|db.log_mode|ARCHIVELOG
KV|db.created|2019-06-14
KV|db.platform|Linux x86 64-bit
KV|inst.name|ORCL
KV|inst.host|srvora01
KV|inst.version|19.22.0.0.0
KV|inst.status|OPEN
KV|db.rac_instances|1
KV|db.edition|EE
KV|db.cdb|YES
KV|db.pdb_count|3
KV|cpu.num_cpus|128
KV|cpu.num_cpu_cores|64
KV|cpu.num_cpu_sockets|2
KV|param.cpu_count|128
KV|license.sessions_max|0
KV|license.sessions_warning|0
KV|license.sessions_current|412
KV|license.sessions_highwater|1180
KV|license.users_max|0
KV|license.cpu_core_highwater|64
KV|license.cpu_socket_highwater|2
OPT|Partitioning|TRUE
OPT|Real Application Clusters|FALSE
OPT|Oracle Database Vault|FALSE
OPT|Oracle Label Security|FALSE
OPT|Data Mining|TRUE
OPT|Spatial|TRUE
OPT|Advanced Analytics|TRUE
FEAT|Partitioning (user)|TRUE|3412|2026-08-20|2019-07-02|18
FEAT|Partitioning (system)|TRUE|3412|2026-08-20|2019-06-14|9
FEAT|AWR Report|TRUE|221|2026-08-19|2019-06-20|0
FEAT|Automatic Workload Repository|TRUE|3400|2026-08-20|2019-06-14|0
FEAT|ADDM|TRUE|140|2026-08-18|2019-06-20|0
FEAT|SQL Tuning Advisor|FALSE|12|2021-03-11|2020-11-04|0
FEAT|Oracle Multitenant|TRUE|3400|2026-08-20|2019-06-14|3
FEAT|Spatial|TRUE|88|2026-08-01|2020-02-11|0
FEAT|Advanced Index Compression|TRUE|64|2026-08-20|2023-05-19|0
FEAT|SecureFiles (user)|TRUE|900|2026-08-20|2019-06-14|0
FEAT|Oracle Java Virtual Machine (system)|TRUE|3400|2026-08-20|2019-06-14|0
FEAT|Transparent Data Encryption|FALSE|0|-|-|0
HWM|SESSIONS|1180|412
HWM|CPU_COUNT|128|128
HWM|USER_TABLES|8421|8390
HWM|DATAFILES|94|94
