# Cas reel frequent : base restauree depuis un serveur Enterprise Edition
# vers une plateforme Standard Edition 2. Les objets partitionnes
# subsistent alors que l'option n'est meme pas vendable en SE2, et le
# serveur depasse la limite de 2 sockets de l'edition.
KV|collect.version|1.0.0
KV|collect.epoch|@EPOCH@
KV|collect.date|@DATE@
KV|inst.sid|SE2DB
KV|inst.oracle_home|/u01/app/oracle/product/19.0.0/dbhome_2
KV|inst.running|1
KV|host.name|srvora09.example.lan
KV|host.arch|x86_64
KV|host.cpu.model|AMD EPYC 7543
KV|host.cpu.sockets|4
KV|host.cpu.cores|128
KV|host.cpu.threads|256
KV|host.cpu.reliable|1
KV|host.virt|vmware
KV|host.core_factor|0.5
KV|host.processor_licenses|64
KV|db.name|SE2DB
KV|db.dbid|900112233
KV|db.role|PRIMARY
KV|db.open_mode|READ WRITE
KV|inst.version|19.21.0.0.0
KV|inst.status|OPEN
KV|db.rac_instances|1
KV|db.edition|SE2
KV|db.cdb|NO
KV|db.pdb_count|0
KV|license.sessions_current|60
KV|license.sessions_highwater|210
KV|license.sessions_max|0
KV|collect.sql_complete|1
KV|collect.status|ok
OPT|Partitioning|FALSE
FEAT|Partitioning (user)|TRUE|140|2026-08-20|2022-04-01|6
FEAT|AWR Report|TRUE|30|2026-08-15|2022-04-01|0
HWM|SESSIONS|210|60
